<!doctype html>
<html lang="en">
<head th:replace="layout :: head('Upload')"></head>

<body>

<nav th:replace="layout :: nav"></nav>

<div class="grid-container">

    <div th:replace="layout::top-image"> </div>

    <h2>Upload Image</h2>

    <form th:action="@{${action}}" method="post" th:object="${image}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{hash}"/>

        <div class="grid-100 row controls" th:classappend="${#fields.hasErrors('file')}? 'error' : ''">
            <input type="file" th:field="*{file}"/>
            <div class="error-message" th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></div>

        </div>
        <div class="clear"></div>

        <div class="clear"></div>

        <div class="grid-100 row controls">
                <button th:text="${submit}" type="submit" class="button">Upload</button>
                <a href="javascript:window.location = document.referrer;" class="button">Cancel</a>
        </div>

    </form>
</div> <!-- grid-container -->

</body>
</html>